<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign up Form</h1>
    
    <br><hr>
    <form action="" method="POST">

        <h3>Enter Name : </h3>
        <input type="text" placeholder="Eg : Aditya" name="student_name">
        
        <h3>Enter Roll No</h3>
        <input type="number" placeholder="Eg : 16010121208" name="student_rollno">

        <h3>Enter Password :</h3>
        <input type="password" name="student_password">

    </form>
</body>
</html>