<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <!-- this is a base template which is used to define the structure 
        for other html templates , it is used when we want to apply
        the same css styling on all the html templates in the static folder
     -->

     <!-- so all the code that it repeated in every template can be
         written in this template  -->
    {% block content %}
    {% endblock %}
</body>
</html>