<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Remove Flash Card</h1>
    Question: {{ card.question }} <br>
    Answer:   {{ card.answer }}

    <h2>Are you sure?</h2>
    <form method="post">
        <button type="submit">Yes</button>
        <!-- the no url is not treated as a post , this is 
        why the if block of remove_card_fxn will not get executed -->
        <a href="{{ url_for('welcome_fxn') }}">No</a>
    </form>
</body>
</html>