<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>Hello World</p>
<p>{{ card.question }}</p>
<p>{{ card.answer }}</p>

<!-- below code is inefficient since we are hardcoding the url inside
        the jinja template thus it should be avoided  (view and template are tightly coupled)
    very hard to maintain templates when url changes -->

<br>

<button>
    <!--  -->
    {% if (index < max_index) %}
        <a href="{{ url_for('cards_fetch_fxn',index_from_db = index + 1) }}"> 
            Next Card 
        </a>
    {% else %}
    <a href="{{ url_for('cards_fetch_fxn',index_from_db = 0) }}"> 
        Start over
    </a>
    {% endif %}
    
</button>
<!-- fxn url_for looks up the url for a view function , this is called url 
    buidling  -->
    
<!-- so the url_for fxn will call the cards_fetch_fxn and parameter passed to 
    that fxn will be index_from_db = index + 1 -->
    <br>
    <a href="{{url_for('remove_card_fxn',index_from_user = index)}}">Remove this card</a>

</body>
</html>